[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
colorama = "*"
geopy = "*"
pillow = "*"
tweepy = "*"
discord-webhook = "*"
shapely = "*"
pycairo = "*"
geog = "*"
pyproj = "*"
pandas = "*"
configparser = "*"
"mastodon.py" = "*"
psycopg2 = "*"
python-telegram-bot = "*"
atproto = "*"
pynostr = "*"
numpy = "*"
py-staticmaps = {git = "https://github.com/Jxck-S/py-staticmaps"}
praw = "*"
python-blossom = "*"
watchdog = "*"

[requires]
python_version = "3.13"
