[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
colorama = "*"
geopy = "*"
tabulate = "*"
pytz = "*"
pillow = "*"
tweepy = "*"
discord-webhook = "*"
selenium = "*"
opensky-api = {editable = true, git = "https://github.com/openskynetwork/opensky-api.git", ref = "3d01d1a774da0dbd4a65a3bb615fd2063d0320c9", subdirectory = "python"}
webdriver-manager = "*"
shapely = "*"
pycairo = "*"
py-staticmaps = "*"
pyproj = "*"
lxml = "*"
beautifulsoup4 = "*"
python-telegram-bot = "*"
"mastodon.py" = "*"

[requires]
python_version = "3.14"
