[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
colorama = "*"
geopy = "*"
tabulate = "*"
pytz = "*"
pillow = "*"
tweepy = "*"
discord-webhook = "*"
opensky-api = {editable = true, git = "https://github.com/openskynetwork/opensky-api.git", subdirectory = "python"}
shapely = "*"
pycairo = "*"
geog = "*"
pyproj = "*"
pandas = "*"
lxml = "*"
configparser = "*"
"mastodon.py" = "*"
psycopg2 = "*"
python-telegram-bot = "*"
atproto = "*"
pynostr = "*"

py-staticmaps = "*"
numpy = "*"
bs4 = "*"
praw = "*"
python-blossom = "*"
watchdog = "*"

[requires]
python_version = "3.11"
