# requirements.txt
colorama
geopy
tabulate
pytz
pillow
tweepy 
pushbullet.py
discord-webhook
selenium
#opensky-api = {editable = true, git = "https://github.com/openskynetwork/opensky-api.git", subdirectory = "python"}
# git+https://github.com/openskynetwork/opensky-api.git#egg=subdir&subdirectory=python"
"git+https://github.com/openskynetwork/opensky-api.git#subdirectory=python&egg=python"
webdriver-manager
shapely
python-telegram-bot
