# requirements.txt
colorama
geopy
tabulate
pytz
pillow
tweepy
discord-webhook
selenium
git+https://github.com/openskynetwork/opensky-api.git@master#subdirectory=python/
webdriver-manager
shapely
pandas
python-telegram-bot
mastodon.py
beautifulsoup4
pycairo
py-staticmaps
pyproj
lxml
configparser
geog
