# Codacy CLI
logs/
.gitignore
cli-config.yaml
cli.sh

# Tool configurations
tools-configs/
!tools-configs/pylint.rc
!tools-configs/languages-config.yaml
!tools-configs/lizard.yaml
!tools-configs/eslint.config.mjs
!tools-configs/trivy.yaml
